html {
  height: 100%;
}

.heading {
  margin-left: 60px;
}

.fa-github {
  color: white;
  font-size: 350px;
  cursor: pointer;
}

.fa-linkedin {
  color: white;
  font-size: 350px;
  cursor: pointer;
}

h1 {
  font-size: 160px;
  margin-bottom: 20px;
  color: white;
  margin-top: 0px;
}

h3 {
  margin-top: 0px;
  margin-left: 25px;
  font-size: 60px;
  color: white;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  font: 16px / 1 roboto, arial, sans-serif;
}

.keepreading {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #0081d5;
  height: 40px;
  font-size: 18px;
  width: 160px;
  border-radius: 5px;
  border: 0px;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 36px / 1 roboto, arial, sans-serif;
  font-weight: bold;
  margin-top: 125px;
  margin-bottom: 50px;
  text-align: center;
}

footer  {
  margin-top: 115px;
  margin-bottom: 50px;
  text-align: center;
}

.icon2 {
  font-size: 80px;
  color: white;
  margin: 60px;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
  margin-right: 15px;
}

.bluebg {
  background-color: #031019;
  display: flex;
  flex-direction: column;
}

.whitebg {
  background-color: #232323;
  padding-top: 20px;
  border-radius: 3px;
  height: 350px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.white {
  color: #FFFFFF;
}

#space {
  background-color: orange;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 700px;
  width: 100%;
}

.react {
  background-image: url("/images/code.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
  border-radius: 3px;
}

.code {
  background-image: url("/images/coding.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  border-radius: 3px;
}

.p-strong {
  font: 60px / 1 roboto, arial, sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

.p {
  margin-left: 10px;
  margin-top: 0px;
}

.p2 {
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.p3 {
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-right: 10px;
  text-align: center;

  font-size: 30px;
}

.mt10 {
  margin-top: 20px;
}

.flexsp {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.flexsp2 {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#sec2 {
  background-image: url("/images/blackmarble.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.jp {
  border-radius: 170px;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  margin: 0px 0px 120px 30px;
}